<br>
<main class="container detail-grid" *ngIf="item$ | async as n">
  <!-- Columna principal -->
  <article class="detail">
    <button class="back-btn" (click)="goBack()">
      <span class="arrow">←</span> Volver
    </button>

    <br><br>
    <h1 class="title">{{ n.titulo }}</h1>
    <div class="meta">
      {{ (n.categorias || 'General') }} •
      {{ n.fechaPublicado | date:'dd MMM yyyy' }} •
      {{ n.autor || 'Redacción' }}
    </div>

    <img *ngIf="n.imagenUrl" class="hero" [src]="n.imagenUrl" [alt]="n.titulo">

    <!-- lead en negrita -->

    <!-- contenido -->
    <div class="content" [innerHTML]="n.safeContent"></div>

    <!-- etiquetas generadas desde el contenido -->
    <div class="tags"
         *ngIf="getChipsFromContent(n.contenido) as chips">
      <span class="tag">Etiquetas</span>
      <span class="chip" *ngFor="let tag of chips">{{ tag }}</span>
    </div>



    <!-- fuente -->
    <p *ngIf="n.url" class="meta" style="margin-top:1rem">
      Fuente: <a [href]="n.url" target="_blank" rel="noopener">Ver artículo original</a>
    </p>
  </article>

  <aside class="sidebar" *ngIf="more$ | async as more">
    <h3 class="more-title">Más noticias</h3>
    <div class="more-list">
      <!-- 👇 Aquí declaramos m -->
      <a class="more-card"
         *ngFor="let m of more; trackBy: trackById"
         [routerLink]="['/detalle', m.id]"
         [title]="m.titulo">
        <div class="thumb-wrap">
          <img [src]="m.imagenUrl || 'assets/placeholder-4x3.jpg'" [alt]="m.titulo">
        </div>
        <div class="info">
          <div class="meta tiny">
            {{ (m.categorias || 'General') }} • {{ m.fechaPublicado | date:'dd MMM' }}
          </div>
          <div class="headline clamp-2">{{ m.titulo }}</div>
        </div>
      </a>

    </div>
  </aside>



</main>
<!-- ====== FOOTER ====== -->
<footer>
  <div class="container footer-inner">
    <div>
      <h3>Noticias360</h3>
      <p class="muted">Periodismo claro y directo. Cobertura 24/7 con enfoque local y global.</p>
    </div>
    <div>
      <h4>Secciones</h4>
      <ul style="list-style:none;padding:0;margin:.5rem 0 0 0;display:grid;gap:.4rem">
        <li><a href="#" class="muted">Política</a></li>
        <li><a href="#" class="muted">Economía</a></li>
        <li><a href="#" class="muted">Deportes</a></li>
        <li><a href="#" class="muted">Tecnología</a></li>
      </ul>
    </div>
    <div>
      <h4>Legal</h4>
      <ul style="list-style:none;padding:0;margin:.5rem 0 0 0;display:grid;gap:.4rem">
        <li><a href="#" class="muted">Términos</a></li>
        <li><a href="#" class="muted">Privacidad</a></li>
        <li><a href="#" class="muted">Contacto</a></li>
      </ul>
    </div>
  </div>
  <div class="credits">© 2025 Noticias360 — Mas cerca de ti</div>
</footer>
